<a href="https://itnishi.com/" target="_blank" style="width: 250px">
  <img style="width: 250px" src="<%- url_for("/images/nishi_it.png") %>">
</a>
<a href="https://themeour.com/" target="_blank" style="width: 180px">
  <img style="width: 180px" src="<%- url_for("/images/stdlib.png") %>">
</a>

<br>
<h2>Awesome Code with @code4mk</h2>


<a href="https://laravel.com/" target="_blank">
  <img src="<%- url_for("/images/laravel.png") %>">
</a>
<a href="https://laravelcollective.com/" target="_blank" style="width:120px;top:-2px">
  <img src="<%- url_for("/images/lara-collective.png") %>" style="width:120px">
</a>
<a href="https://vue.org" target="_blank" style="top:-1px">
  <img src="<%- url_for("/images/vue-logo2.png") %>">
</a>
<a href="https://angular.io/" target="_blank">
  <img src="<%- url_for("/images/angular.png") %>">
</a>
<a href="https://atom.io" target="_blank">
  <img src="<%- url_for("/images/atom.png") %>">
</a>
<a href="https://github.com/" target="_blank" style="top:-2px">
  <img src="<%- url_for("/images/github-logo.png") %>">
</a>
<a href="http://algolia.com/" target="_blank">
  <img src="<%- url_for("/images/algolia-logo.png") %>">
</a>
<a href="https://disqus.com/" target="_blank" style="width:80px;top:-2px">
  <img src="<%- url_for("/images/disqus.png") %>" style="width:80px">
</a>

<a href="http://htmlreference.io/" target="_blank" style="width:140px">
  <img src="<%- url_for("/images/html-reference.png") %>" style="width:140px">
</a>
<a href="http://cssreference.io/" target="_blank" style="width:140px;top:4px">
  <img src="<%- url_for("/images/css-reference-logo.png") %>" style="width:140px">
</a>

<a href="http://bulma.io/" target="_blank" style="width:115px">
  <img src="<%- url_for("/images/bulma-logo.png") %>" style="width:115px">
</a>

<a href="https://www.youtube.com/channel/UCYTlP2ny7GFTlo-SU7iHXdA" target="_blank" style="width:120px;top:1px">
  <img src="<%- url_for("/images/nishi-institute.png") %>" style="width:120px">
</a>
